.cantainer{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    /* margin: 5px 20px; */
    /* background-color: aqua; */
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: aliceblue;

  }
  .title{
    font-size: 40px;
    
  }
  .title:hover{
   color: brown;

  }
  .cartIcon{
    width: 50px;
    height: 40px;
  }
  .cartIcon img{
    width: 30px;
  }
  .cartCount{
    width: 20px;
    height: auto;
    position: absolute;
    text-align: center;
    top: 5px;
    background-color: #db2828;
    border-radius: 50%;
  }